<%= form_with(model: service) do |form| %>

    <!-- <div> <%= form.label :user_id, class:'d-block' %> <%= form.text_field :user_id %> </div>-->
    <!-- L'utilisateur est celui connecté -->
    <input type="hidden" name="service[user_id]" value="<%=current_user.id %>">


    <div class="mb-3 col-4">
        <%= form.label :title, 'Titre', class:'form-label' %>
        <%= form.text_field :title, class: 'form-control'+(@service.errors[:title].length>0?' border-danger':'') %>
        <div class="text-danger fw-bold">
            <% if @service.errors[:title] %>
                <% @service.errors[:title].each do |error| %>
                    <p><%= error %></p>
                <% end %>
            <% end %>
        </div> 
    </div>

    <div class="mb-3 col-4">
        <%= form.label :description, 'Description', class:'form-label' %>
        <%= form.text_area :description, rows:3, class: 'form-control'+(@service.errors[:description].length>0?' border-danger':'') %>
        <div class="text-danger fw-bold">
            <% if @service.errors[:description] %>
                <% @service.errors[:description].each do |error| %>
                    <p><%= error %></p>
                <% end %>
            <% end %>
        </div> 
    </div>

    <div class="mb-3 row">
        <div class="col-4">
            <%= form.label :price, 'Prix', class:'form-label' %>
            <div class="input-group">
                <%= form.number_field :price, class: 'form-control'+(@service.errors[:price].length>0?' border-danger':'') %>
                <span class="input-group-text">€</span>
                <%= form.select :unit, 
                    ['rendez-vous','unité', 'mois', 'heure', 'an', 'jour', 'photo', 'document'].map { |string| ['Par '+string, string] },
                    {},
                    {class: 'form-control'+(@service.errors[:unit].length>0?' border-danger':'')}
                %>
            </div>
            <div class="text-danger fw-bold">
                <% if @service.errors[:price] %>
                    <% @service.errors[:price].each do |error| %>
                        <p><%= error %></p>
                    <% end %>
                <% end %>
                <% if @service.errors[:unit] %>
                    <% @service.errors[:unit].each do |error| %>
                        <p><%= error %></p>
                    <% end %>
                <% end %>
            </div> 
        </div>
    </div>
    <div>
        <%= form.submit "Mettre à jour", class:'btn btn-primary' %>
    </div>
<% end %>


<% if @service.persisted? %>
    <div class="pt-5">
        <strong>Zone à risque</strong>
        <% if @service.persisted? %>
            <%= button_to "Supprimer le service", @service, method: :delete, class:'btn btn-outline-danger' %> 
        <% end %>
    </div>
<% end %>