<div class="card" id="<%= dom_id service %>">
  <div class="card-body">
    <h5 class="card-title">
      <%= service.title %>
    </h5>
    <p class="card-text">
      <%= service.description %>
    </p>
    <p class="card-text">
      <%= service.price %>€
      <small class="text-muted">
        /<%= service.unit %>
      </small>
    </p>
  </div>
</div>