<div class="card" id="<%= dom_id service %>">
    <div class="card-body">
        <h5 class="card-title">
            <%= service.title %>
        </h5>
        <% if not defined? hide_user %>
        <h6 class="card-subtitle mb-2 text-muted">
            Par <%= link_to service.user.name, show_pro_path(service.user) %>
        </h6>
        <% end %>
        <p class="card-text">
            <%= service.description %>
        </p>
        <p class="card-text">
            <%= service.price %>€
            <small class="text-muted">
                /<%= service.unit %>
            </small>
        </p>
        <% if (defined? actions) && actions %>
            <% if (defined? own) and own %>
                <%= link_to "Éditer", edit_service_path(service), class:'btn btn-primary' %>
            <% else %>
                <%= link_to "Prendre rendez-vous", customer_book_service_path(service), class:'btn btn-primary' %>
            <% end %>
        <% end %>
    </div>
</div>