<%= link_to "Retour aux services", customer_services_path %>
<h5>Prenez rendez-vous avec <%= @service.user.name %></h5>


<%= form_with(model: @meet) do |form| %>
    <div class="row pt-4">
        
        <div class="col-sm-12 col-md-7 col-lg-7 d-md-block" id="datepicker-section">
            <h3>Quand réserver?</h3>
        

            <%= form.hidden_field :user_id, value:current_user.id  %>
            <%= form.hidden_field :service_id, value:@service.id  %>
            <%= form.hidden_field :planned_at, class:' form-control', id:'meet_planned_at' %>
            
            <div class="text-danger fw-bold">
            <% if @meet.errors[:planned_at] %>
                <% @meet.errors[:planned_at].each do |error| %>
                    <p><%= error %></p>
                <% end %>
            <% end %>
           </div> 

            <div class="mb-4" id="datepicker"></div>
            

        </div>
        
        <div class="col-sm-12 col-md-5 col-lg-4 offset-lg-1 pb-4" id="resume">
            <h3 class="pb-2">Résumé</h3>
            <%= render "services/service_summary", service: @service, no_action: true %>

            <div id="datepicked" class="mt-2 bg-light p-3 rounded">
                <h5>Date de réservation</h5>
                <span id="datepicked-date">Aucune date choisie</span>
                <a id="datepicked-modify" class="d-none d-md-none text-decoration-none" style="cursor: pointer">Modifier</a>
            </div> 
            <%= form.submit "Confirmer", class: 'col-12 mt-2 btn btn-secondary', id:'submitBtn', disabled:true %>

        </div>

    </div>
    <% end %>


<script>
(()=>{
    const fetchDatesUrl = "<%= taken_dates_service_path(@service.id) %>.json";

    const calendar = document.getElementById('calendar');

    fetch(fetchDatesUrl).then(function(response) {
    return response.json();
    })
    .then(function(takenDatesObjs) {
        console.log(takenDatesObjs);
        const datesDisabled = [];
        for(let i=0; i<=takenDatesObjs.length-1; i++) {
            console.log(takenDatesObjs[i].planned_at);
            const d = new Date(takenDatesObjs[i].planned_at);
            const day = d.getDate().toString().padStart(2, "0")
            const month = (d.getMonth()+1).toString().padStart(2, "0")
            const year = d.getFullYear()
            const formated = `${day}/${month}/${year}`;

            console.log(formated)
            datesDisabled.push(formated)
        }

        console.log(datesDisabled)


        $.fn.datepicker.dates['fr'] = {
            days: ["Dimanche", "Lundi", "Madri", "Mercredi", "Jeudi", "Vendredi", "Samedi"],
            daysShort: ["Di", "Lun", "Mar", "Mer", "Mar", "Jeu", "Sam"],
            daysMin: ["Di", "Lu", "Ma", "Me", "Je", "Ve", "Sa"],
            months: ["Janvier", "Février", "Mars", "Avril", "Mai", "Juin", "Juillet", "Août", "Septembre", "Octobre", "Novembre", "Décembre"],
            monthsShort: ["Jan", "Fév", "Mar", "Avr", "Mai", "Ju", "Jui", "Aoû", "Sep", "Oct", "Nov", "Dec"],
            today: "Aujourd'hui",
            clear: "Effacer",
            format: "dd/mm/yyyy",
            titleFormat: "MM yyyy", /* Leverages same syntax as 'format' */
            weekStart: 1
        };

        const datePickerParams = {
            todayHighlight: false,
            language: 'fr',
            datesDisabled,
            startDate: new Date(Date.now()),
            templates: {
                leftArrow: '<i class="fa fa-angle-left"></i>',
                rightArrow: '<i class="fa fa-angle-right"></i>'
            }
        };

        $('#datepicker').datepicker(datePickerParams);

        $('#datepicked-modify').on('click', function(e) {
            e.preventDefault();
            $('#datepicker-section').removeClass('d-none')
            $('#datepicked-modify').addClass('d-none')
        })

        $('#datepicker').on('changeDate', function() {
            let picked = $('#datepicker').datepicker('getFormattedDate');
            $('#meet_planned_at').val(picked);
            $('#datepicked-date').text("Le "+picked)

            $('#submitBtn').removeAttr('disabled').addClass('btn-primary').removeClass('btn-secondary');
            $('#datepicker-section').addClass('d-none')
            $('#datepicked-modify').removeClass('d-none')
        });
    });
})()

</script>


<style>
    .datepicker-days > table {
        width: 100%
    }
    .datepicker-days > table > tbody > tr:first-child > td:first-child {
        border-top-left-radius: 0.5rem !important;
    }
    .datepicker-days > table > tbody > tr:first-child > td:last-child {
        border-top-right-radius: 0.5rem !important;
    }

    .datepicker-days > table > tbody > tr:last-child > td:first-child {
        border-bottom-left-radius: 0.5rem !important;
    }
    .datepicker-days > table > tbody > tr:last-child > td:last-child {
        border-bottom-right-radius: 0.5rem !important;
    }
    .datepicker.datepicker-inline {
        width: auto !important;
        border: 1px solid #eee;
    }
    .datepicker-switch {
        width: auto !important;
        min-width: 145px;
    }

    .datepicker td, .datepicker th {
        height: auto !important;
        // padding: 0.6rem 1rem;
        padding: 0.5rem 0;
        width: calc(100% / 7) !important
    }

    .day {
        background: #f9f9f9;
        border-radius: 0 !important;
    }
    .day.today {
        background: #fde19a;
        background-image: none !important;
    }
    .day.active {
        border-radius: 0.25rem !important;
        background: #04c;
        background-image: none !important;
    }
    .day.disabled {
        background: #eee;
    }
</style>