<div class="row">
    <div class="col-12">
        <h1 class="mb-2">Espace Pro</h1>
        <%= link_to "Modifier mon profil", edit_pro_path, class:"mb-2 btn btn-primary" %>
        <%= link_to "Voir en tant que particulier", show_pro_path(current_user.slug), class:"mb-2 btn btn-secondary" %>
    </div>

    <div class="col-md-4 mb-2">
        <div class="card">
            <div class="card-body">
                <h2 class="h5 card-title"><%= @user.name %></h2>
                <h3 class="h6 card-subtitle mb-2 text-muted"><%= @user.profession || "Profession non renseignée" %></h3>
                <ul class="list-unstyled">
                    <% if @user.contact %>
                        <li><%= @user.contact %></li>
                    <% end %>
                    <% if @user.adress %>
                        <li><%= link_to @user.adress, @user.adress_to_maps, rel:'noreferrer', target:'_blank' %></li>
                    <% end %>
                    <% if @user.site %>
                        <li><%= link_to @user.site, "https://"+@user.site, rel:'noreferrer', target:'_blank' %></li>
                    <% end %>
                </ul>
            </div>

        </div>
    </div>
    <div class="col-md-8 mb-2">
        <div class="card">
            <div class="card-body">
                <h4 class="h5 card-title">Description</h4>
                <p class="card-text"><%= @user.description || "Pas encore renseignée" %></p>
            </div>
        </div>
    </div>

    <div class="col-12 mt-5">
        <h2 class="mb-2">Mes prochains rendez-vous</h2>
        <%= link_to "Tout voir", agenda_path, class:"mb-2 btn btn-secondary" %>
    </div>
    <% @meets_incoming.each do |meet| %>
        <%= render meet %>
    <% end %>


    <div class="col-12 mt-5">
        <h2 class="mb-2">Mes services</h2>
        <%= link_to "Nouveau service", new_service_path, class:"mb-2 btn btn-secondary" %>
    </div>
    <% @user.services.each do |service| %>
        <div class="col-sm-6 col-lg-4  pb-4">
            <%= render "services/service", service: service, actions: true, hide_user:true, own: true %>
        </div>
    <% end %>
</div>