<div class="row">
    <div class="col-12">
        <h1 class="mb-2"><%= @user.name %></h1>
        <% if current_user && current_user.id == @user.id %>
            <%= link_to "Voir en tant que professionnel", pro_path, class:"mb-2 btn btn-secondary" %>
        <% end %>
    </div>
    <div class="col-md-4 mb-2">
        <div class="card">
            <div class="card-body">
                <h2 class="h5 card-title">À propos</h2>
                <h3 class="h6 card-subtitle mb-2 text-muted"><%= @user.profession || "Profession non renseignée" %></h3>
                <ul class="list-unstyled">
                    <% if @user.contact %>
                        <li><%= @user.contact %></li>
                    <% end %>
                    <% if @user.adress %>
                        <li><%= link_to @user.adress, @user.adress_to_maps, rel:'noreferrer', target:'_blank' %></li>
                    <% end %>
                    <% if @user.site %>
                        <li><%= link_to @user.site, "https://"+@user.site, rel:'noreferrer', target:'_blank' %></li>
                    <% end %>
                </ul>
                
            </div>

        </div>
    </div>
    <div class="col-md-8 mb-3">
        <div class="card">
            <div class="card-body">
                <h4 class="h5 card-title">Description</h4>
                <p class="card-text"><%= @user.description || "Pas encore renseignée" %></p>
            </div>
        </div>
    </div>

    <div class="col-12 mt-5">
        <h2 class="mb-2">Services</h2>
    </div>
    <% @user.services.each do |service| %>
        <div class="col-sm-6 col-lg-4  pb-4">
            <%= render "services/service", service: service, hide_user:true, actions: (!current_user or (current_user.id != service.user.id)) %>
        </div>
    <% end %>
</div>