<div class="row">
    <div class="col-12">
        <h1 class="mb-2"><%= @user.name %></h1>
        <% if current_user && current_user.id == @user.id %>
    <%= link_to "Voir en tant que professionnel", pro_path, class:"mb-2 btn btn-secondary" %>
<% end %>
    </div>
    <div class="col-4 mb-5">
        <div class="card">
            <div class="card-body">
                <h2 class="h5 card-title">À propos</h2>
                <h3 class="h6 card-subtitle mb-2 text-muted"><%= @user.profession || "Profession non renseignée" %></h3>
                <% if @user.contact %>
                    <p><%= @user.contact %></p>
                <% end %>
                <% if @user.site %>
                    <a href="https://<%= @user.site %>" class="card-link"><%= @user.site %></a>
                <% end %>
            </div>

        </div>
    </div>
    <div class="col-8 mb-5">
        <div class="card">
            <div class="card-body">
                <h4 class="h5 card-title">Description</h4>
                <p class="card-text"><%= @user.description || "Pas encore renseignée" %></p>
            </div>
        </div>
    </div>

    <div class="col-12">
        <h2 class="mb-2">Services</h2>
    </div>
    <% @user.services.each do |service| %>
        <div class="col-sm-6 col-lg-4  pb-4">
            <%= render "services/service", service: service, hide_user:true %>
        </div>
    <% end %>
</div>