<%= render layout: '/layouts/form', 
    locals: {
        title: 'Réinitialiser votre mot de passe',
        img: {
            path: 'password-reset.jpg',
            author: 'Bruce Mars',
            authorUrl: 'https://unsplash.com/@brucemars'
        }
} do %>
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <%= f.hidden_field :reset_password_token %>



        <div class="mb-3 col-12">
            <div class="d-flex flex-row justify-content-between">
                <%= f.label :password, 'Mot de passe', class:'form-label' %>
                <% if @minimum_password_length %>
                    <em><%= @minimum_password_length %> caractères minimum</em>
                <% end %>
            </div>
            <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class:'form-control' %>
        </div>

        <div class="mb-3 col-12">
            <div class="d-flex flex-row justify-content-between">
                <%= f.label :password_confirmation, 'Confirmer le mot de passe', class:'form-label' %>
            </div>
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class:'form-control' %>
        </div>


        <div class="actions">
            <%= f.submit "Réinitialiser", class:'mb-2 col-12 btn btn-primary' %>

            <%- if controller_name != 'sessions' %>
                <%= link_to "Retour", new_session_path(resource_name), class:'btn col-12' %>
            <% end %>
        </div>
    <% end %>
<% end %>