<%= render layout: '/layouts/auth', 
    locals: {
        title: 'Mot de passe oublié?',
        img: {
            path: 'password-forgot-2.jpg',
            author: 'Simran Sood',
            authorUrl: 'https://unsplash.com/@simran01_fashionphotography'
        }
} do %> 
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <p>
            Un email contenant les informations de réinitialisation de mot de passe vous sera envoyé
        </p>

        <div class="mb-3 col-12">
            <%= f.label :email, 'E-mail', class:'form-label' %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
        </div>


        <div class="actions">
            <%= f.submit "Recevoir un mail", class:'mb-2 col-12 btn btn-primary' %>

            <%- if controller_name != 'sessions' %>
                <%= link_to "Retour", new_session_path(resource_name), class:'btn col-12' %>
            <% end %>
        </div>
    <% end %>
<% end %>
