<% @noAlert = true %>
<div class="row">
    <% if defined? img %>
    <div class="d-none d-lg-block col-lg-5 offset-xl-1 coll-xl-5">
        <!--<img class="img-fluid rounded"  src="https://images.unsplash.com/photo-1584518969469-c2d99c7760a0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80">-->
        
        <!--<%= image_tag "login-2.jpg", alt:" ", class:"img-fluid rounded" %>-->
        <%= image_tag img[:path], alt:" ", class:"w-100 img-fluid rounded" %>
        <a class="d-block w-100 text-end text-muted text-decoration-none mt-1" href="<%= img[:authorUrl] %>">Photo par <%= img[:author] %></a>
    </div>
    <% end %>
    <div class="pb-5 offset-1 col-10 offset-sm-2 col-sm-8 offset-md-3 col-md-6 col-lg-5 offset-lg-1 col-xl-4 d-flex flex-column justify-content-center">
        <h1 class="font-serif pb-2"><%= title %></h1>
        <%= render "layouts/alerts" %>
        <%= yield %>
    </div>
</div>
