<footer class="container py-5 bg-gray-300">
    <div class="row">
        <h3 class="display-6 col-12 font-serif"><%= ENV['app_name'] %></h3>
        <div class="col-4 d-flex flex-column">
            <%= link_to "Accueil", home_path %>
            <%= link_to "Services", customer_services_path %>
            <%= link_to "Espace professionnel", pro_path %>
        </div>
        <div class="col-4 d-flex flex-column">
            <%= link_to "À propos", home_path %>
            <%= link_to "Mentions légales", home_path %>
        </div>
        <div class="col-4 d-flex flex-column">
            <span>&copy; <%= Time.zone.now.year %> <%= link_to "Arthaud Proust", "https://arthaudproust.fr" %></span>
            <span>Tous droits réservés</span>
        </div>
    </div>
</footer>